Django==1.8.5
django-appconf==1.0.1
django-compressor==1.5
djangorestframework==3.2.4
-e git+https://github.com/joshuaduffy/dota2api.git@f5714d565725f610fe93313f3e7af25b16643fb0#egg=dota2api-dev
huey==0.4.8
psycopg2==2.6.1
redis==2.10.3
requests==2.8.1
six==1.10.0
wheel==0.24.0
