Django==1.8.5
django-appconf==1.0.1
django-compressor==1.5
-e git+https://github.com/evaldobratti/dotaparty.git@4fd7e552a6b4ba15b4223790756cb6e8856e8335#egg=dota2api-dev
-e git+https://github.com/evaldobratti/huey.git@2c6eba3cd564827ed23a6b13b865a6aa35df2bf3#egg=huey-dev
httplib2==0.9.2
oauth2==1.9.0.post1
oauthlib==1.0.3
psycopg2==2.6.1
PyJWT==1.4.0
python-openid==2.2.5
python-social-auth==0.2.13
redis==2.10.3
requests==2.8.1
requests-oauthlib==0.5.0
six==1.10.0
wheel==0.24.0