.detail-match-item {
    width: 30px;
    float: left;
}

.detail-match-hero {
    width: 40px;
}

.detail-match-profile-img {
    width: 30px;
    float: right;
}

.text-align-center {
    text-align: center;
}

.color-green {
    color: #007020;
}

.color-red {
    color: #990000;
}

.color-blue {
    color: #002070;
}

.friends-matches {
    max-height: 300px;
    overflow-y: auto;
}

a, a:hover, a:focus {
    color: #3F51B5;
}

#loading-bar .bar {
    background-color: #3F51B5;
}

#snackbar-container {
    top: 65px;
    right: 0;
}

.btn {
    margin: 0px;
}