<div class="col-md-6">
    <div class="row">
        <div class="panel panel-inverse">
            <div class="panel-heading" ng-if="showHeader(report)">
                <div class="panel-title">
                    <a style="color: inherit;" href="profiles/{{ report.reported.account_id}}" ng-if="mode == 'created'"> {{ report.reported.current_update.persona_name }}</a>
                    <a style="color: inherit;" href="profiles/{{ report.creator.account_id}}" ng-if="mode == 'received'"> {{ report.creator.current_update.persona_name }}</a>
                </div>
            </div>
            <div class="panel-body">
                Created : {{ report.created | secondsToDateTime | date:'dd/MM/yyyy mm:ss' }}<br>
                Reason: {{ report.reason }} <br>
                Match: <a href="matches/{{ report.due_to_match_id }}">{{ report.due_to_match_id }}</a>
            </div>
        </div>
    </div>
</div>

