<!DOCTYPE html>
<html ng-app="dotaparty">
<head>
    <title>Dota party</title>

    <base href="/"/>

    {% include 'stylesheets.html' %}
</head>

<body>
{% include 'navbar.html' %}
<div class="container">
    <div class="row" >
        <div class="col-md-12 ng-view"></div>
    </div>
    {% include 'javascripts.html' %}
</div>

<iframe src="https://ghbtns.com/github-btn.html?user=evaldobratti&repo=dotaparty&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
</body>
</html>
