<!DOCTYPE html>
<html ng-app="dotaparty">
<head>

    <meta name="google-site-verification" content="Uol2pMvfY7l2ujv8pahHLpVWS5rq3Vva0jrNzdGhK3o" />
    <title ng-if="!$root.title">
        Dota Party
    </title>
    <title ng-if="$root.title">
        {% verbatim %}
        {{ $root.title }}
        {% endverbatim %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"/>

    {% include 'stylesheets.html' %}
</head>

<body>

<div id="wrap">
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 ng-view"></div>
        </div>
    </div>
    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="h6" class="text-muted">Dota 2 and all Dota 2 related images belong to Valve.</span>
                <div>
                    <iframe src="https://ghbtns.com/github-btn.html?user=evaldobratti&repo=dotaparty&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'javascripts.html' %}
<!--<iframe src="https://ghbtns.com/github-btn.html?user=evaldobratti&repo=dotaparty&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>-->
</body>
</html>
