{% load compress %}
{% load staticfiles %}

<script type="text/javascript" src="{% static 'lib/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/angular-cookies.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/ui-bootstrap-tpls-0.13.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/ngDialog.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/loading-bar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/ngDialog.min.js' %}"></script>


{% compress js %}
    <script type="text/javascript" src="{% static 'javascripts/ng-infinite-scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/dotaparty.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/dotaparty.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/dotaparty.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/dotaparty.filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/detailmatch/detailmatch.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/profile/profile.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/friends/friends.module.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/detailmatch/detailmatch.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/detailmatch/detailmatch.directives.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/detailmatch/detailmatch.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/profile/profile.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/profile/profile.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/friends/friends.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/friends/friends.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/home/home.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/home/home.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/home/home.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/community/community.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/community/new-report.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/community/community.directives.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/community/community.service.js' %}"></script>
{% endcompress %}
