{% load compress %}
{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'charts/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>
<script type="text/javascript" src="{% static 'charts/angular-chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-ui/ui-bootstrap-tpls-0.13.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-loading-bar/loading-bar.min.js' %}"></script>

{% compress js %}
    <script type="text/javascript" src="{% static 'javascripts/ng-infinite-scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/dotaparty.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/dotaparty.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/dotaparty.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/dotaparty.filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/detailmatch/detailmatch.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/profile/profile.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/friends/friends.module.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/detailmatch/controllers/detailmatch.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/detailmatch/services/detailmatch.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/profile/controllers/profile.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/profile/services/profile.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/friends/services/friends.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/friends/controllers/friends.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/home/home.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/home/controllers/home.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/home/services/home.service.js' %}"></script>
{% endcompress %}
