<div style="height: 3px;"></div>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#not-google-plus-nav">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dota Party</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a  ui-sref="status">Status</a></li>
                </ul>
                <form ng-controller="HomeController as hc" ng-submit="hc.setSearch()" class="navbar-form navbar-left">
                    <div class="form-group is-empty">
                        <input type="text" style="width: 400px" ng-model="$root.query" name="q" class="form-control col-sm-8" placeholder="Search for account id, match id or nickname"/>
                    </div>
                </form>

                <script>
                    function formatLoginURL() {
                        window.location = '/login/steam/' + "?next=" + window.location.pathname;
                    }

                    function formatLogoutURL() {
                        window.location = '/api/logout/' + "?next=" + window.location.pathname;
                    }
                </script>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="/profiles/{{ user.account_id }}">{{ user.username }}</a></li>
                        <li><a target="_self" href="" onclick="formatLogoutURL()">Logout</a></li>
                    {% else %}

                        <li><a target="_self" href="" onclick="formatLoginURL()">
                            <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png"/>

                        </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
