{% load compress %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'angular-loading-bar/loading-bar.min.css' %}" />

{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dotaparty.css' %}" />
{% endcompress %}
