{% load compress %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/material.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/ngDialog.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/ngDialog-theme-default.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/loading-bar.min.css' %}" />

{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dotaparty.css' %}" />
{% endcompress %}
