<div ng-show="vm.match != undefined">

<a href="#">{{ vm.match.vm.match_id }}</a>

<div style="text-align: center">
    <h2 ng-if="vm.match.is_radiant_win">Radiant win!</h2>
    <h2 ng-if="!vm.match.is_radiant_win">Dire win!</h2>
</div>
<div class="row">
    <div class="col-md-2">
        <p>Match</p><h4><b>{{ vm.match.match_id }}</b></h4>
    </div>
    <div class="col-md-2">
        <p>Date</p><h4>{{ vm.match.start_time | secondsToDateTime | date:'dd/MM/yyyy' }}</h4>
    </div>
    <div class="col-md-2">
        <p>Duration</p><h4>{{ vm.match.duration | secondsToDateTime | date:'mm:ss' }}</h4>
    </div>
    <div class="col-md-2">
        <p>First Blood</p><h4>{{ vm.match.first_blood_time | secondsToDateTime | date:'mm:ss' }}</h4>
    </div>
    <div class="col-md-4">
        <p>Lobby Type</p><h4>{{ vm.match.lobby_type.name }}</h4>
    </div>
    <div class="col-md-2">
        <p>Game Mode</p><h4>{{ vm.match.game_mode.name }}</h4>
    </div>
    <div class="col-md-4">
        <p>Region</p><h4>{{ vm.match.cluster.name }}</h4>
    </div>
</div>

<h3>Radiant</h3>
<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th class="text-align-center">Hero</th>
        <th class="col-md-5">Player</th>
        <th class="text-align-center">LVL</th>
        <th class="text-align-center">K</th>
        <th class="text-align-center">D</th>
        <th class="text-align-center">A</th>
        <th class="text-align-center">LH/DN</th>
        <th class="text-align-center">GPM</th>
        <th class="text-align-center">XPM</th>
        <th class="text-align-center">Gold</th>
        <th class="text-align-center">TD</th>
        <th class="text-align-center">HD</th>
        <th class="text-align-center">HH</th>
        <th>Items</th>
        <th>Matches with</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in vm.match.radiant_team" ng-click="vm.friendsMatches(p)" ng-class="{info: p == vm.current_selected }">
        <td class="text-align-center">
            <img width="40" ng-src="{{ p.hero.url_large_portrait }}">
        </td>

        <td>
            <div ng-if="p.player_account != null">
                <a href="profiles/{{ p.account_id }}"
                        >{{ p.player_account.current_update.persona_name }}</a>
                <img style="float: right" ng-src="{{ p.player_account.current_update.url_avatar }}">
            </div>
            <div ng-if="p.player_account == null"> {{ 'Private profile' }} </div>
        </td>

        <td class="text-align-center">{{ p.level }}</td>
        <td class="text-align-center color-green">{{ p.kills }}</td>
        <td class="text-align-center color-red">{{ p.deaths }}</td>
        <td class="text-align-center color-blue">{{ p.assists }}</td>
        <td class="text-align-center">{{ p.last_hits }} / {{ p.denies }}</td>
        <td class="text-align-center">{{ p.gold_per_min | abbreviate}}</td>
        <td class="text-align-center">{{ p.xp_per_min | abbreviate}}</td>
        <td class="text-align-center">{{ (p.gold_spent + p.gold) | abbreviate }}</td>
        <td class="text-align-center">{{ p.tower_damage | abbreviate }}</td>
        <td class="text-align-center">{{ p.hero_damage | abbreviate}}</td>
        <td class="text-align-center">{{ p.hero_healing | abbreviate}}</td>
        <td>
            <img style="width: 32px" ng-repeat="item in p.items" ng-src="{{ item.item.url_image }}">
        </td>
        <td><a href="friends/{{ vm.current_selected.account_id + ',' + p.account_id }}">{{ p.matches_with }}</a></td>
    </tr>
    </tbody>
</table>

<h3>Dire</h3>
<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th class="text-align-center">Hero</th>
        <th class="col-md-5">Player</th>
        <th class="text-align-center">LVL</th>
        <th class="text-align-center">K</th>
        <th class="text-align-center">D</th>
        <th class="text-align-center">A</th>
        <th class="text-align-center">LH/DN</th>
        <th class="text-align-center">GPM</th>
        <th class="text-align-center">XPM</th>
        <th class="text-align-center">Gold</th>
        <th class="text-align-center">TD</th>
        <th class="text-align-center">HD</th>
        <th class="text-align-center">HH</th>
        <th>Items</th>
        <th>Matches with</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in vm.match.dire_team" ng-click="vm.friendsMatches(p)" ng-class="{info: p == vm.current_selected }">
        <td class="text-align-center">
            <img width="40" ng-src="{{ p.hero.url_large_portrait }}">
        </td>

        <td>
            <div ng-if="p.player_account != null">
                <a href="profiles/{{ p.account_id }}"
                        >{{ p.player_account.current_update.persona_name }}</a>
                <img style="float: right" ng-src="{{ p.player_account.current_update.url_avatar }}">
            </div>
            <div ng-if="p.player_account == null"> {{ 'private profile' }} </div>
        </td>

        <td class="text-align-center">{{ p.level }}</td>
        <td class="text-align-center color-green">{{ p.kills }}</td>
        <td class="text-align-center color-red">{{ p.deaths }}</td>
        <td class="text-align-center color-blue">{{ p.assists }}</td>
        <td class="text-align-center">{{ p.last_hits }} / {{ p.denies }}</td>
        <td class="text-align-center">{{ p.gold_per_min | abbreviate}}</td>
        <td class="text-align-center">{{ p.xp_per_min | abbreviate }}</td>
        <td class="text-align-center">{{ (p.gold_spent + p.gold)  | abbreviate }}</td>
        <td class="text-align-center">{{ p.tower_damage  | abbreviate }}</td>
        <td class="text-align-center">{{ p.hero_damage | abbreviate}}</td>
        <td class="text-align-center">{{ p.hero_healing | abbreviate}}</td>
        <td>
            <img style="width: 32px" ng-repeat="item in p.items" ng-src="{{ item.item.url_image }}">
        </td>
        <td><a href="friends/{{ vm.current_selected.account_id + ',' + p.account_id }}">{{ p.matches_with }}</a></td>
    </tr>
    </tbody>
</table>
<div  style="width: 800px; height: 600px">
<canvas class="chart chart-line" data="vm.data"
  labels="vm.labels" legend="true" series="vm.series">
</canvas>
    </div></div>