<a href="#">{{ vm.match.vm.match_id }}</a>

<div ng-if="vm.match.is_radiant_win">Radiant win!</div>
<div ng-if="!vm.match.is_radiant_win">Dire win!</div>

<div>Duration: {{ vm.match.duration }}</div>
<div>Region: {{ vm.match.cluster_name }}</div>
<div>Mode: {{ vm.match.game_mode_name }}</div>
<div>Tower status radiant: {{ vm.match.tower_status_radiant }}</div>
<div>Tower status dire: {{ vm.match.tower_status_dire }}</div>
<div class="row">
    <div class="detail-match-column" style="width: 200px">Player</div>
    <div class="detail-match-column">hero</div>
    <div class="detail-match-column">LVL</div>
    <div class="detail-match-column">K</div>
    <div class="detail-match-column">D</div>
    <div class="detail-match-column">A</div>
    <div class="detail-match-column">LH/DN</div>
    <div class="detail-match-column">GPM</div>
    <div class="detail-match-column">XPM</div>
    <div class="detail-match-column">Gold</div>
    <div class="detail-match-column">TD</div>
    <div class="detail-match-column">HD</div>
    <div class="detail-match-column">HH</div>
    <div class="detail-match-column">Items</div>
</div>
<div ng-repeat="p in vm.match.players" class="row">

    <div class="detail-match-column" style="width: 200px">
        <div ng-if="p.player_account != null">
            <a href="profiles/{{ p.account_id }}"
                    >{{ p.player_account.current_update.persona_name }}</a>
            <img class="detail-match-profile-img" ng-src="{{ p.player_account.current_update.url_avatar }}">
        </div>
        <div ng-if="p.player_account == null"> {{ 'private profile' }} </div>
    </div>

    <div class="detail-match-column">
        <img class="detail-match-hero" ng-src="{{ p.hero.url_large_portrait }}">
    </div>
    <div class="detail-match-column">{{ p.level }}</div>
    <div class="detail-match-column">{{ p.kills }}</div>
    <div class="detail-match-column">{{ p.deaths }}</div>
    <div class="detail-match-column">{{ p.assists }}</div>
    <div class="detail-match-column">{{ p.last_hits }} / {{ p.denies }}</div>
    <div class="detail-match-column">{{ p.gold_per_min }}</div>
    <div class="detail-match-column">{{ p.xp_per_min }}</div>
    <div class="detail-match-column">{{ p.gold_spent + p.gold }}</div>
    <div class="detail-match-column">{{ p.tower_damage }}</div>
    <div class="detail-match-column">{{ p.hero_damage }}</div>
    <div class="detail-match-column">{{ p.hero_healing }}</div>
    <div class="detail-match-column" style="width: 200px">
        <img class="detail-match-item" ng-repeat="item in p.items" ng-src="{{ item.item.url_image }}">
    </div>

</div>

