<div ng-show="vm.match != undefined">

<a href="#">{{ vm.match.vm.match_id }}</a>

<div style="text-align: center">
    <h2 ng-if="vm.match.is_radiant_win">Radiant win!</h2>
    <h2 ng-if="!vm.match.is_radiant_win">Dire win!</h2>
</div>
<div class="row">
    <div class="col-md-2">
        <p>Match</p><h4><b>{{ vm.match.match_id }}</b></h4>
    </div>
    <div class="col-md-2">
        <p>Date</p><h4>{{ vm.match.start_time | secondsToDateTime | date:'dd/MM/yyyy' }}</h4>
    </div>
    <div class="col-md-2">
        <p>Duration</p><h4>{{ vm.match.duration | secondsToDateTime | date:'mm:ss' }}</h4>
    </div>
    <div class="col-md-2">
        <p>First Blood</p><h4>{{ vm.match.first_blood_time | secondsToDateTime | date:'mm:ss' }}</h4>
    </div>
    <div class="col-md-4">
        <p>Lobby Type</p><h4>{{ vm.match.lobby_type }}</h4>
    </div>
    <div class="col-md-2">
        <p>Game Mode</p><h4>{{ vm.match.game_mode }}</h4>
    </div>
    <div class="col-md-4">
        <p>Region</p><h4>{{ vm.match.cluster }}</h4>
    </div>
        <div class="col-md-4">
        <p>Skill</p><h4>{{ vm.match.skill }}</h4>
    </div>
</div>

<h3>Radiant</h3>
<detailmatchteam team="vm.match.radiant_team" controller="vm" />


<h3>Dire</h3>
<detailmatchteam team="vm.match.dire_team" controller="vm" />
</div>