<div ng-repeat="acc in vm.accounts">
    <img ng-src="{{ acc.current_update.url_avatar }}">
    <a href="profiles/{{ acc.account_id }}">{{ acc.current_update.persona_name }}</a>
</div>

<div infinite-scroll="vm.getNextPage()"
     infinite-scroll-distance="1"
     infinite-scroll-disabled="vm.evaluating">
    <table class="table table-striped table-condensed">
        <tbody>
        <tr ng-repeat="match in vm.matches" class="row">
            <td>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="/matches/{{ match.match_id }}"><h5>{{ match.match_id }}</h5></a>
                        </div>
                        <div class="col-md-6">
                            <h5 ng-if="match.is_radiant_win">Radiant victory!</h5>
                            <h5 ng-if="!match.is_radiant_win">Dire victory!</h5>
                        </div>

                        <div class="col-md-4">
                            <h5 class="color-green" ng-if="(match.is_radiant_win && match.wereOnRadiant) || (!match.is_radiant_win && !match.wereOnRadiant)">
                                Won match
                            </h5>
                            <h5 class="color-red" ng-if="(!match.is_radiant_win && match.wereOnRadiant) || (match.is_radiant_win && !match.wereOnRadiant)">
                                Lost match
                            </h5>
                        </div>

                    </div>

                    <div class="row" ng-repeat="player in match.playersFiltered">
                        <div class="col-md-2" ng-if="player.player_slot < 5">Radiant</div>
                        <div class="col-md-2" ng-if="player.player_slot > 5">Dire</div>
                        <div class="col-md-2">
                            <img width="50" src="{{ player.hero.url_full_portrait }}">
                        </div>
                        <div class="col-md-10">
                            <a href="/profiles/{{ player.player_account.account_id }}">{{ player.player_account.current_update.persona_name }}</a>
                        </div>
                        <div class="col-md-4 text-align-center"><span class="color-green">{{ player.kills }}</span>/<span class="color-red">{{ player.deaths }}</span>/<span class="color-blue">{{ player.assists }}</span> </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Duration</h6><h5> {{ match.duration | secondsToDateTime | date:'mm:ss' }}</h5>
                        </div>
                        <div class="col-md-4">
                            <h6>Game mode</h6><h5>{{ match.game_mode.name }}</h5>
                        </div>
                        <div class="col-md-4">
                            <h6>Date</h6><h5>{{ match.start_time | secondsToDateTime | date:'dd/MM/yyyy' }}</h5>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-if="vm.currentPage < vm.totalPages">
    {{ vm.currentPage }} of {{ vm.totalPages }}
</div>
<div ng-if="vm.currentPage == vm.totalPages">
    All matches loaded
</div>
<div ng-if="vm.evaluating"> Loading more matches</div>
