<!--<form  ng-submit="vm.find()" class="form-group">
    <input placeholder="Search for account id, match id, nickname" class="form-control btn-inverse" ng-model="vm.searchTxt" type="text"/>
    <br/>
    <a ng-click="vm.find()" class="btn btn-inverse btn-raised">
        Search
    </a>
</form>
-->

<div ng-if="!vm.buscaFeita">
    <p>This is a small project to show whom you already played without filling forms and etc.</p>
    <p>Find your account and click to download your matches (your matches will be fetched automatically once you did that)</p>
    <p>Your buddies will be shown in your profile</p>
    <p>Open any match and click on any player nickname cell to load how many matches that player had with/against each other player</p>
    <p>Click on that number to show those matches</p>
    <p>Hope it help you in some way =]</p>
</div>
<div ng-if="vm.buscaFeita">
    <div ng-if="vm.accounts.length > 0">
        <h2>Accounts</h2>

        <a ng-repeat="acc in vm.accounts" class="btn btn-inverse btn-raised" href="profiles/{{ acc.account_id }}">
            <img ng-src="{{ acc.current_update.url_avatar }}">
            {{ acc.current_update.persona_name }}
        </a>
    </div>

    <div ng-if="vm.matches.length > 0">
        <h2>Matches</h2>

        <div ng-repeat="match in vm.matches">
            <div>
                <a class="btn btn-inverse btn-raised" href="matches/{{ match.match_id}}">{{ match.match_id }}</a>
            </div>
        </div>
    </div>
</div>
