<!--<form  ng-submit="vm.find()" class="form-group">
    <input placeholder="Search for account id, match id, nickname" class="form-control btn-inverse" ng-model="vm.searchTxt" type="text"/>
    <br/>
    <a ng-click="vm.find()" class="btn btn-inverse btn-raised">
        Search
    </a>
</form>
-->
<div ng-if="!vm.buscaFeita" class="jumbotron">
    <h2>Welcome to Dota Party!</h2>

    <p>This is a small project to show whom you already played without filling forms and etc.</p>

    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
                <img class="circle" src="/static/img/step1.png" alt="icon">
            </div>
            <div class="row-content">
                <h4 class="list-group-item-heading">find your profile</h4>

                <p class="list-group-item-text small">Use the search bar and if do not find your account, type your
                    account id in dotaparty.me/profiles/&lt;account_id&gt; url </p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <img class="circle" src="/static/img/step2.png" alt="icon">
            </div>
            <div class="row-content">
                <h4 class="list-group-item-heading">download your matches</h4>

                <p class="list-group-item-text">Request to download your matches through your profile page. Once you do
                    that, your matches will be download as you play</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <img class="circle" src="/static/img/step3.png" alt="icon">
            </div>
            <div class="row-content">
                <h4 class="list-group-item-heading">wait</h4>

                <p class="list-group-item-text">Dota party is small project in a small server, so it may take a while to
                    download all matches that are requested</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <img class="circle" src="/static/img/step4.png" alt="icon">
            </div>
            <div class="row-content">
                <h4 class="list-group-item-heading">check your matches</h4>

                <p class="list-group-item-text">In the matches pages select your account with the radion button and
                    check with who you already played with</p>
            </div>
        </div>
    </div>

</div>

<div class="well" ng-if="vm.buscaFeita">
    <div ng-if="vm.accounts.length > 0">
        <h2>Accounts</h2>

        <a ng-repeat="acc in vm.accounts" class="btn btn-inverse btn-raised" style="margin-left: 5px; margin-top: 5px"
           href="profiles/{{ acc.account_id }}">
            <img ng-src="{{ acc.current_update.url_avatar }}">
            {{ acc.current_update.persona_name }}
        </a>
    </div>

    <div ng-if="vm.matches.length > 0">
        <h2>Matches</h2>

        <div ng-repeat="match in vm.matches">
            <div>
                <a class="btn btn-inverse btn-raised" href="matches/{{ match.match_id }}">{{ match.match_id }}</a>
            </div>
        </div>
    </div>

</div>