<div ng-include="'/static/templates/alerts.html'"/>

<div ng-show="vm.account">
    <div class="row">
        <div class="col-md-12">
            <spam class="h2" style="vertical-align: middle">{{ vm.account.current_update.persona_name }}</spam>
            <img ng-src="{{ vm.account.current_update.url_avatar }}">
        </div>
        <div class="col-md-12" ng-show=" vm.account.matches_download_required ">
            <alert type="success">The games are being downloaded automatically!</alert>
        </div>
        <div class="col-md-12" ng-show="!vm.account.matches_download_required ">
            <form ng-if="!vm.account.matches_download_required" ng-submit="vm.downloadGames()">
                <button type="submit" class="btn btn-primary">Download games</button>
            </form>
        </div>
    </div>


    <div class="col-md-12">
        <h4>Matches</h4>

        <div ng-repeat="match in vm.matches">

            <div ng-repeat="player in match.radiant_team.concat(match.dire_team)"
                 ng-if="player.account_id == vm.accountId">
                <div class="row">
                    <div class="col-md-4">
                        <img ng-src="{{ player.hero.url_small_portrait }}">
                    </div>
                    <div class="col-md-5">
                        <a ng-href="matches/{{ match.match_id }}">
                            <spam class="h5">{{ player.hero.localized_name }}</spam>
                        </a><br />
                        <spam class="h6">{{ match.game_mode.name }}</spam>

                    </div>
                    <div class="col-md-4">
                        {{ player.kills + '/' + player.deaths + '/' + player.assists }}
                    </div>
                    <div class="col-md-4">
                        <div ng-if="match.match_won" class="color-green">Victory</div>
                        <div ng-if="!match.match_won" class="color-red">Loss</div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div style="overflow: scroll" class="col-md-12">
        <table>
            <thead>
            <tr>
                <td>
                    <h4>Friend</h4>
                </td>
                <td>
                    <h4>Matches</h4>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="f in vm.games.friends">
                <td>
                    <img ng-src="{{ f.url_avatar }}">
                    <a href="profiles/{{ f.account_id }}">{{ f.persona_name }}</a>
                </td>
                <td>
                    <a href="friends/{{ vm.account.account_id + ',' + f.account_id }}">{{ f.qtd }}</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>