<div ng-include="'/static/templates/alerts.html'"/>

<div ng-if="vm.account != null" class="well">
    <div class="row"> 
        <div class="col-md-6">
            <img ng-src="{{ vm.account.current_update.url_avatar_full }}">
            <spam class="h3">{{ vm.account.current_update.persona_name }}</spam>
        </div>
        <div class="col-md-6">
            <div class="row">
                <button ng-click="vm.downloadGames()" class="btn btn-inverse btn-raised col-md-4">Download games</button>
                <div class="btn btn-success btn-raised col-md-8" ng-show="vm.account.matches_download_required ">
                    ALREADY DOWNLOADING!
                </div>
            </div>
            
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
        <div class="panel-heading text-align-center">MATCHES</div>
            <div class="list-group panel panel-inverse">
                
                <div class="panel-heading list-group-item">
                    <div class="row-picture">
                        <div class="blank-circle" />
                    </div>
                    <div class="row-content">
                        <div class="col-md-12">
                            <div class="list-group-item-heading row">
                                <div class="col-md-7">
                                    <span style="color: white">Hero name</span>
                                </div>
                                <div class="col-md-5 text-align-center">
                                    <span style="font-size: 12px" class="label label-default">Result</span>
                                </div>
                            </div>
                            <div class="list-group-item-text row">
                                <div class="col-md-3 text-align-center">
                                    <span>K/D/A</span>
                                </div>
                                <div class="col-md-4 text-align-center">
                                    <span class="h6">Game mode</span>
                                </div>
                                <div class="col-md-5 text-align-center">
                                    <span class="h6">Lobby type</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="vm.matches == null" class="list-group-item text-align-center row">
                    <img src="/static/img/ajax-loader.gif" class="loading">
                </div>
                <div ng-if="vm.matches != null" ng-repeat="match in vm.matches" ng-class-odd="'stripped'"  >
                    <div ng-init="player = match.radiant_team.concat(match.dire_team)[0]" class="list-group-item">
                        <div class="row-picture ">
                            <img ng-src="{{ player.hero.url_vertical_portrait }}" class="circle">
                        </div>
                        <div class="row-content">
                            <div class="col-md-12">
                                <div class="list-group-item-heading row">
                                    <div class="col-md-7 ">
                                        <a ng-href="matches/{{ match.match_id }}">
                                            {{ player.hero.localized_name }}
                                        </a>
                                    </div>
                                    <div class="col-md-5 text-align-center">
                                        <span ng-show="player.leaver_status.id < 2">
                                            <span style="font-size: 12px" ng-if="match.match_won" class="label label-success">Victory</span>
                                            <span style="font-size: 12px" ng-if="!match.match_won" class="label label-danger">Loss</span>
                                        </span>
                                        <span style="font-size: 12px" ng-show="player.leaver_status.id >= 2" class="label label-warning">
                                            {{ player.leaver_status.name }}
                                        </span>
                                    </div>
                                </div>
                                <div class="list-group-item-text row">
                                    <div class="col-md-3 text-align-center">
                                        <span>{{ player.kills + '/' + player.deaths + '/' + player.assists }}</span>
                                    </div>
                                    <div class="col-md-4 text-align-center">
                                        <span class="h6">{{ match.game_mode }}</span>
                                    </div>
                                    <div class="col-md-5 text-align-center">
                                        <span class="h6">{{ match.lobby_type }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-center stripped">
                        <ul class="pagination pagination-sm">
                            <li ng-class="{'disabled': (1 == vm.currentDetailMatchesPage)}">
                                <a href="javascript:void(0)"
                                    ng-click="1 != vm.currentDetailMatchesPage && vm.loadMatchesPage(vm.currentDetailMatchesPage - 1)">
                                    «
                                </a>
                            </li>
                            <li ng-class="{'active': (vm.matchesPaginationIndexes[0] == vm.currentDetailMatchesPage)}">
                                <a href="javascript:void(0)" 
                                ng-if="vm.matchesPaginationIndexes.length >= 1" 
                                ng-click="vm.loadMatchesPage(vm.matchesPaginationIndexes[0])">
                                   {{vm.matchesPaginationIndexes[0]}}
                                </a>
                            </li>
                            <li ng-class="{'active': (vm.matchesPaginationIndexes[1] == vm.currentDetailMatchesPage)}">
                                <a href="javascript:void(0)" 
                                ng-if="vm.matchesPaginationIndexes.length >= 2" 
                                ng-click="vm.loadMatchesPage(vm.matchesPaginationIndexes[1])">
                                   {{vm.matchesPaginationIndexes[1]}}
                                </a>
                            </li>
                            <li ng-class="{'active': (vm.matchesPaginationIndexes[2] == vm.currentDetailMatchesPage)}">
                                <a href="javascript:void(0)" 
                                ng-if="vm.matchesPaginationIndexes.length >= 3" 
                                ng-click="vm.loadMatchesPage(vm.matchesPaginationIndexes[2])">
                                    {{vm.matchesPaginationIndexes[2]}}
                                </a>
                            </li>
                            <li ng-class="{'active': (vm.matchesPaginationIndexes[3] == vm.currentDetailMatchesPage)}">
                                <a href="javascript:void(0)" 
                                ng-if="vm.matchesPaginationIndexes.length >= 4" 
                                ng-click="vm.loadMatchesPage(vm.matchesPaginationIndexes[3])">
                                    {{vm.matchesPaginationIndexes[3]}}
                                </a>
                            </li>
                            <li ng-class="{'active': (vm.matchesPaginationIndexes[4] == vm.currentDetailMatchesPage)}">
                                <a href="javascript:void(0)" 
                                ng-if="vm.matchesPaginationIndexes.length >= 5" 
                                ng-click="vm.loadMatchesPage(vm.matchesPaginationIndexes[4])">
                                    {{vm.matchesPaginationIndexes[4]}}
                                </a>
                            </li>
                            <li ng-class="{'disabled': (vm.totalMatchesPages == vm.currentDetailMatchesPage)}">
                                <a href="javascript:void(0)"
                                    ng-click="vm.totalMatchesPages != vm.currentDetailMatchesPage && vm.loadMatchesPage(vm.currentDetailMatchesPage + 1)">
                                    »
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel-heading text-align-center">FRIENDS</div>
            <div class="list-group panel panel-inverse">
                <div class="panel-heading list-group-item">
                    <div class="row-picture">
                        <div class="blank-circle" />
                    </div>
                    <div class="row-content">
                        <div class="col-md-12">
                            <div class="list-group-item-heading row">
                                <div class="col-md-7">
                                    <span style="color: white">Friend</span>
                                </div>
                                <div class="col-md-5 text-align-center">
                                    <span style="color: white">#</span>
                                </div>
                            </div>
                            <div class="list-group-item-text row">
                                <div class="col-md-12">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="vm.friends != null" ng-repeat="f in vm.friends" ng-class-odd="'stripped'">
                    <div class="list-group-item">
                        <div class="row-picture">
                            <img ng-src="{{ f.current_update.url_avatar_full }}" class="circle">
                        </div>
                        <div class="row-content">
                            <div class="col-md-12">
                                <div class="list-group-item-heading row">
                                    <div class="col-md-7">
                                        <a href="profiles/{{ f.account_id }}">{{ f.current_update.persona_name }}</a>    
                                    </div> 
                                    <div class="col-md-5 text-align-center">
                                        <a href="friends/{{ vm.account.account_id + ',' + f.account_id }}">{{ f.qtd }}</a>  
                                    </div>
                                </div>
                                <div class="list-group-item-text row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="vm.friends == null" class="list-group-item text-align-center">
                    <img src="/static/img/ajax-loader.gif">
                </div>
                <div>
                    <div class="text-center stripped">
                        <ul class="pagination pagination-sm">
                            <li>
                                <a>
                                    No pagination here yet :(
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <h3>
                Reports created
                <small data-toggle="tooltip" data-placement="right" title="" data-original-title="Number of reports this player created">
                    {{ vm.reportsCreated.total }}
                </small>
            </h3>
            <report ng-repeat="report in vm.reportsCreated.reports" report="report" mode="'created'" />
        </div>
        <div class="col-md-6">
            <h3>
                Reports received
                <small data-toggle="tooltip" data-placement="right" title="" data-original-title="Number of reports this player received">
                    {{ vm.reportsReceived.total }}
                </small>
            </h3>
            <report ng-repeat="report in vm.reportsReceived.reports" report="report" mode="'received'" />
        </div>
    </div>
</div>