<div class="text-center well">
    <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="text-center">Total</h4>
            </div>
            <div class="row" ng-if="vm.statistics == null">
                <img src="static/img/ajax-loader.gif">
            </div>
            <div class="row" ng-if="vm.statistics != null">
                <div class="col-sm-12 col-md-4">
                    <h4><b>{{ vm.statistics.total.matches }}</b><br>
                        <small>matches</small>
                    </h4>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4><b>{{ vm.statistics.total.players }}</b><br>
                        <small>players</small>
                    </h4>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4><b>{{ vm.statistics.total.tracked }}</b><br>
                        <small>Tracked players</small>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-8 col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="text-center">Last hour</h4>
            </div>
            <div class="row" ng-if="vm.statistics == null">
                <img src="static/img/ajax-loader.gif">
            </div>
            <div class="row" ng-if="vm.statistics != null">
                <div class="col-xs-6">
                    <h4><b>{{ vm.statistics.last_hour.matches }}</b><br>
                        <small>matches</small>
                    </h4>
                </div>
                <div class="col-xs-6">
                    <h4><b>{{ vm.statistics.last_hour.players }}</b><br>
                        <small>players</small>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-offset-2 col-md-8 col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="text-center">Lasts downloaded matches</h4>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="text-right">Match ID</h4>
                        </div>
                        <div class="col-xs-6">
                            <h4 class="text-left">Tracked players</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.statistics == null">
                <img src="static/img/ajax-loader.gif">
            </div>
            <div class="row" ng-if="vm.statistics != null" ng-repeat="m in vm.statistics.lasts_matches">
                <div class="col-xs-6 text-right">
                    <a href="/matches/{{ m.match_id }}">{{ m.match_id }}</a>
                </div>
                <div class="col-xs-6 text-left">
                    <span ng-repeat="p in m.players">

                        <a href="/profiles/{{ p.account_id }}">{{ p.persona_name }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
